body {
   //height: 100%;
   padding: @spaced;
}

#wrapper {
   position: relative;
}

#content {

   &.fixed-header {

      padding-top: 75px;

   }

}

.home-module {

   display: block;
   background: @bgGray;
   margin: 1px;
   position: relative;

   &.x-small {
      height: 200px;
   }

   &.small {
      height: 300px;
   }

   &.medium {
      height: 400px;
   }

   h3 {
      margin: 0;
   }

}

.section {

   padding: @spaced*3 0;

   &--compact {
      padding: @spaced 0;
   }
}